@inherits LayoutComponentBase

<div class="layout">
    <nav class="sidebar">
        <div class="brand">
            <a href="">RealmFoundry</a>
        </div>
        <NavMenu />
    </nav>
    <main class="content">
        <div class="top-bar">
            <span>Community Content for RealmUnbound</span>
        </div>
        <article class="page-body">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <span class="dismiss">&#x2715;</span>
</div>
