<nav class="nav-links">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-item" href="submissions">
        Submissions
    </NavLink>
</nav>
