@page "/Game/Play"
@attribute [Authorize]

<div class="game-container">
    <GameHeader />

    <div class="game-main">
        <div class="game-sidebar">
            <GameSidebar />
            <GameChat />
        </div>

        <div class="game-center">
            @if (GameState.IsInCombat)
            {
                <GameCombat />
            }
            else if (GameState.ZoneTileMap is not null)
            {
                <GameTilemap />
            }
            else
            {
                <div class="game-loading-zone">
                    <p>Loading zone...</p>
                    <div class="spinner"></div>
                </div>
            }
        </div>
    </div>

    <GameFooter />
    <GameOverlay />
</div>
