@using Newtonsoft.Json.Linq
@using MudBlazor

@if (Property != null)
{
    <div class="property-field mb-2">
        <PrimitiveField Property="@Property" />
    </div>
}

@code {
    [Parameter]
    public JProperty? Property { get; set; }
}
