@implements IDisposable
@inject AuthStateService AuthState
@inject NavigationManager Nav

<footer class="fat-footer py-5 mt-10">
    <MudContainer MaxWidth="MaxWidth.Large" Class="pa-5">
        <MudGrid Spacing="4">
            @* Column 1: Branding *@
            <MudItem xs="12" sm="6" md="4">
                <div>
                    <MudImage Src="images/veldrath-final-horizontal-transparent.png" Height="64" Class="mb-4" />
                    <MudText Typo="Typo.body2" Class="fat-footer-description">
                        A multiplayer RPG built on the RealmEngine framework. Explore, craft, fight, and build your
                        legend in the world of Veldrath.
                    </MudText>
                </div>
            </MudItem>

            @* Column 2: Quick Links *@
            <MudItem xs="12" sm="6" md="2">
                <MudText Typo="Typo.subtitle1" Class="fat-footer-heading mb-3">Quick Links</MudText>
                <MudLink Href="/lore" Typo="Typo.body2" Class="fat-footer-link d-block py-0">World & Lore</MudLink>
                <MudLink Href="/patch-notes" Typo="Typo.body2" Class="fat-footer-link d-block py-0">Patch Notes
                </MudLink>
                <MudLink Href="/community" Typo="Typo.body2" Class="fat-footer-link d-block py-0">Community</MudLink>
                @if (AuthState.IsLoggedIn)
                {
                    <MudLink Typo="Typo.body2" Class="fat-footer-link d-block py-0" Href="/auth/sign-out">Sign Out</MudLink>
                }
                else
                {
                    <MudLink Typo="Typo.body2" Class="fat-footer-link d-block py-0" Href="/login">Sign In</MudLink>
                }
            </MudItem>

            @* Column 3: Resources *@
            <MudItem xs="12" sm="6" md="3">
                <MudText Typo="Typo.subtitle1" Class="fat-footer-heading mb-3">Resources</MudText>
                <MudLink Href="https://kungraseri.github.io/RealmEngine/" Typo="Typo.body2"
                         Class="fat-footer-link d-block py-0" Target="_blank">Documentation</MudLink>
                <MudLink Href="https://github.com/kungraseri/RealmEngine/wiki" Typo="Typo.body2"
                         Class="fat-footer-link d-block py-0" Target="_blank">Wiki</MudLink>
                <MudLink Href="/support" Typo="Typo.body2" Class="fat-footer-link d-block py-0">Support</MudLink>
                <MudLink Href="/api" Typo="Typo.body2" Class="fat-footer-link d-block py-0">API Status</MudLink>
            </MudItem>

            @* Column 4: Community / Social *@
            <MudItem xs="12" sm="6" md="3">
                <MudText Typo="Typo.subtitle1" Class="fat-footer-heading mb-3">Community</MudText>
                <div class="d-flex flex-column gap-2">
                    <MudLink Href="https://github.com/kungraseri/RealmEngine" Target="_blank"
                             Class="fat-footer-link d-inline-flex align-center">
                        <MudIcon Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" Class="mr-1" /> GitHub
                    </MudLink>
                    <MudLink Href="https://discord.gg/veldrath" Target="_blank"
                             Class="fat-footer-link d-inline-flex align-center">
                        <MudIcon Icon="@Icons.Custom.Brands.Discord" Size="Size.Small" Class="mr-1" />
                        Discord
                    </MudLink>
                </div>
            </MudItem>
        </MudGrid>
    </MudContainer>

    <MudDivider Class="py-5" />
    <MudContainer MaxWidth="MaxWidth.Large" Class="pa-5">
        <div class="d-flex flex-wrap justify-space-between align-center gap-3">
            <MudText Typo="Typo.caption" Class="fat-footer-copyright">
                &copy; @DateTime.Now.Year Veldrath. All rights reserved.
            </MudText>
            <div class="d-flex gap-5">
                <MudLink Href="/privacy" Typo="Typo.caption" Class="fat-footer-link d-block py-0">Privacy Policy
                </MudLink>
                <MudLink Href="/terms" Typo="Typo.caption" Class="fat-footer-link d-block py-0">Terms of Service
                </MudLink>
                <MudLink Href="/contact" Typo="Typo.caption" Class="fat-footer-link d-block py-0">Contact</MudLink>
            </div>
        </div>
    </MudContainer>
</footer>

@code {
    protected override void OnInitialized()
        => AuthState.OnChange += OnAuthStateChanged;

    private void OnAuthStateChanged()
        => InvokeAsync(StateHasChanged);

    public void Dispose()
        => AuthState.OnChange -= OnAuthStateChanged;
}
